@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e4ded7;
}
:root{
    --colorPalet1:#cec9c5;
    --colorPalet2:#ff0000;
    --colorPalet3:#272523;
    --colorPalet4: #ca4646;
    --colorPalet5:#fffefe;
}
.title-pages{
    text-align: center;
    color: var(--colorPalet2);
    padding: 15px;
    margin: 8px 20px;
}
.container-form{
    text-align: center;
    align-content: center;
    margin: center;
}
/* estilos del formulario . */
.box-form{
    display: flex;
    flex-direction: column;
    background-color:var(--colorPalet1);
    padding: 30px;
    border-radius: 12px;
    margin: 5% 35%;
}
.box-form input {
    margin: 5px;
    height: 25px;
}
.box-form button {
    height: 25px;
    margin: 0px 20px;
}
/* estilos de la seccion productos */
.container-card-father{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-card{
    display: flex;
    flex-direction: column;
    background-color:var(--colorPalet1);
    padding: 15px;
    margin: 15px;
    transition: all 1s;
    box-shadow: 3px 3px 3px 0px #0505b4;
}
.container-card:hover{
    transform: translate(5px,-5px);
}
.container-img{
    width: 200px;
    height: 220px;
    object-fit: cover;
}
.box-img{
    width: 100%;
    height: 100%;
}
.container-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin:5px 0;
}
.container-card_button{
    text-align: center;
    padding: 2px 5px;
    background-color: var(--colorPalet2);
    border-radius: 3px;
}
.count-cart{
    display: flex;
    align-items: center;
}
.count-cart button{
    font-size: large;
    padding: 0 38px;
}
.count-cart button:hover{
    background-color:var(--colorPalet3);
    color:var(--colorPalet5);
}
.count-cart b{
    padding: 4px;
}


/* estilos del navbar */
.container-navbar{
    position:sticky;
    top: 0;
    background-color:var(--colorPalet3);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 8px 10px rgb(101, 101, 101);
}
.container-log{
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 25px;
    font-weight: 700;
}
.container-log span {
    background-color: red;
    padding: 3px;
    color: white;
}
.toggler_menu img{
    background-color: var(--colorPalet5);
    padding: 2px;
}
.list-menu{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.list-menu li a{
    text-decoration: none;
    color: var(--colorPalet5);
    padding: 4px 6px;
    border-radius: 3px;
}
.list-menu li{
    color: var(--colorPalet5);
    border-radius: 5px;
    padding: 5px;
}
.list-menu li a:hover{
    background-color: var(--colorPalet5);
    color:var(--colorPalet3);
}
.list-menu div{
    padding: 0px 10px;
}
.list-menu div a{
    color: black;
    text-decoration: none;
}
/* estilos de la pagina register */
.container-register{
    background-color: var(--colorPalet5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 3px solid #5353e9;
    /* box-shadow: 0 0 10px 2px #1e0354; */
    margin: 5% 30%;
    padding: 25px;
}
.container-register h1{
    color:#ff0000
}
.formStyle{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 80%;
}
.formStyle input{
    margin: 5px 0; 
    padding: 4px;
    width: 100%;
}
.btn-register-form{
    width: 100%;
    background-color: var(--colorPalet2);
}


/* estilos de la pagina login */
.container-register:hover, .container-login:hover{
    box-shadow: 0 0 10px 2px #1e0354;
    border: 3px solid rgb(6, 6, 143);
}
.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPalet5);
    margin: 10% 30%;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #4d4de6;
    /* box-shadow: 0 0 10px 2px #1e0354; */
}
.container-login form {
    padding:20px 0;
    border-radius: 12px;
    display: grid;
    gap: 10px;
    width: 70%;
}
.container-login form input{
    padding: 4px;
}

.btn-login-submit , .btn-register-form{
    border: 0;
    font-size: 16px;
    height: 35px;
    background-color: var(--colorPalet2);
    color: var(--colorPalet5);
    border-radius: 6px;
}

.btn-login-submit:hover, .btn-register-form:hover{
    background-color: var(--colorPalet4);
}

.container-login form label{
    padding: 2px;
}
.container-login h1{
    color: #ff0000;
    text-align: center;
}

/* estilos de la pagina perfil de usuario */
.img-profile{
    width: 300px;
}
.container-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
/* estilos de la pag carrito */
.box-cart-father{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    grid-area: cart;
}
.box-order-father{
    margin: auto;
    grid-area: order;
}
#grid-father{
    display: grid;
    margin: 20px;
    grid-template-areas: 
    "cart order";
    grid-template-columns: 4fr 1fr;
}
.card-order{
    background-color: var(--colorPalet2);
    padding: 20px;
    text-align: center;
}
.box-cart-children{
    display: flex;
    margin: 20px;
}
.img-cart{
    width: 150px;
    height: 150px;
}
.detail-cart{
    background-color: goldenrod;
    padding: 10px;
}
.container-title-cart{
    text-align: center;
}

@media (max-width:767px){
    .container-navbar button{
        border: 0;
        color: var(--colorPalet5);
        padding: 2px 5px;
    }
    .list-menu{
        display: none;
    }
    .box-form{
        padding: 20px;
        margin: 10px 30px;
    }
    body.open .list-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 50px;
        background-color: var(--colorPalet3);
        color: var(--colorPalet5);
        width: 100%;
        height: 100vh;
        opacity: 0.8;
    }
    .container-register{
        margin: 15% 10%;
        padding: 10px;
    }
    .container-login{
        margin: 15% 10%;
    }
    .formStyle input{
        margin: 5px 0; 
        padding: 4px;
        width: 95%;
    }
}
@media (min-width:768px){
    .container-navbar button {
        display: none;
    }
    .toggler{
        display: none;
    }
}