*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: burlywood;
}
.title-pages{
    text-align: center;
    background-color:  rgb(201, 112, 49);
    color: beige;
    padding: 15px;
    margin: 8px 20px;
}
.container-form{
    text-align: center;
    align-content: center;
    margin: center;
}
.box-form{
    display: flex;
    flex-direction: column;
    background-color:peru;
    padding: 30px;
    border-radius: 12px;
    margin: 1% 40%;
}
.container-card-father{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-card{
    display: flex;
    flex-direction: column;
    background-color: peru;
    padding: 15px;
    border-radius: 12px;
    margin: 15px;
    transition: all 1s;
}
.container-card:hover{
    transform: scale(1.1);
}
.container-img{
    width: 200px;
    height: 220px;
}
.box-img{
    width: 100%;
    height: 100%;
}
.container-detail{
    text-align: center;
    margin-top: 10px;
}
.container-navbar{
    background-color:#a85311;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container-log{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}
.log-pag{
    color: black;
    background-color: white;
}
.container-log span {
    background-color: red;
    color: white;
}
.list-menu{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.list-menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: beige;
    font-weight: 700;
    padding: 8px 10px;
    border-radius: 5px;
}
.list-menu a:hover{
    background-color: peru;
    color: black;
}
.container-chat{
    margin: 20px 420px;
    text-align: center;
    background-color: cornflowerblue;
}
.container-input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.container-input div{
    margin: 0px 8px;
}
.container-message{
    text-align: left;
    height: 60vh;
    width: 400px;
    margin: auto;
    overflow-y: scroll;
}
.p-chat{
    display: flex;
    justify-content: space-between;
    background-color: rgb(130, 170, 246);
    padding: 5px;
    border-radius:0px 10px 10px 30px;
    margin: 5px;
    padding-left: 10px;
}
.container-perfil{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(54, 101, 187);
    padding: 20px;
}
.container-perfil div {
    margin-right:20px;
}
.time{
    color: beige;
    font-size: 11px;
}
#perfil-usuario{
    font-size: 32px;
    color: beige;
    font-weight: 700;
}
.container-modal{
    text-align: center;
    padding-top: 10px;
}
.modal{
    background-color: cornflowerblue;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}