<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="./style/style.css">
    <title>Carrito</title>
</head>

<body>
    <%- include('../partials/layout') %>
    <div class="container-title-cart">
        <h1 id="title-cart-page" style="padding-top: 20px;"> <!-- aqui se insertan texto de alerta del estado del carrito --> </h1>
    </div>
    <section id="grid-father">
        <div id="container-cart" class="box-cart-father">
            <!-- aqui se insertan los productos que fueron agregado al carrito -->
        </div>
        <div id="container-order" class="box-order-father">
            <!-- aqui se inserta el la factura para el orden de compra -->
        </div>
    </section>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/cart.js"></script>
</body>

</html>