<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>inicio</title>
</head>
<body>
    <nav class="container-navbar">
        <ul class="list-menu">
            <li>
                <a href="/">formulario</a>
            </li>
            <li>
                <a href="/productos">productos</a>
            </li>
        </ul>
    </nav>
    <h1 class="title-form">Carga de productos</h1>
    <%- include('../partials/form') %> 
</body>
</html>