<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="./style/style.css">
    <title>Productos</title>
</head>
<body>
    <%- include('../partials/layout') %>
    <div>
        <h1 class="title-pages">Catalogo de productos</h1>
    </div>
    <div class="container-card-father" id="box-products">
    <!-- aqui se inyectan todos los productos -->
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/product.js"></script>
</body>
</html>