<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Register</title>
</head>
<body>
    <div class="container-register">
        <div id="textAlert">

        </div>
        <h1>Registrate</h1>
        <form id="registerForm" class="formStyle">
            <label for="text">Nombre</label>
            <div>
                <input type="text" name="first_name">
            </div>
            <label for="text">Apellido</label>
            <div>
                <input type="text" name="last_name">
            </div>
            <label for="email">Correo</label>
            <div>
                <input type="email" name="email">
            </div>
            <label for="password">Contraseña</label>
            <div>
                <input type="text" name="password">
            </div>
            <label for="file">Foto de Perfil</label>
            <div>
                <input type="file" name="image">
            </div>
            <input type="submit" value="registrarse">
        </form>
        <h3>Si ya estas registrado <a href="/login">click aqui</a></h3>
    </div>
    
    <script src="/js/register.js"></script>
</body>
</html>