<div class="container-form">
    <form action="/datos" method="post" class="box-form" id="dataForm">
        <label for="">Nombre</label>
        <div>
            <input type="text" required name="nombre">
        </div>
        <label for="">Marca</label>
        <div>
            <input type="text" required  name="marca">
        </div>
        <label for="">Precio</label>
        <div>
            <input type="number" required  name="precio" id="">
        </div>
        <label for="">url de la imagen</label>
        <div>
            <input type="text" required  name="image">
        </div>
        <label for="">stock del producto</label>
        <div>
            <input type="number" required  name="stock">
        </div>
        <div>
            <button type="submit">enviar</button>
        </div>
    </form>
</div>