<nav class="container-navbar">
    <button onclick="toggleMenu()"><img src="https://img.icons8.com/ios-filled/25/null/menu--v1.png"/></button>
    <div class="container-log">
        GAMER<span>STORE</span>
    </div>
    <div class="list-menu">
        <li><a href="/profile">Perfil</a></li>
        <!-- <li>
            <a href="/form">formulario</a>
        </li> -->
        <li><a href="/">Inicio</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/cart">Mi carrito</a></li>
        <li><a href="/login">Usuario</a></li>
        <div><button><a href="/api/session/logout">cerrar session</a></button></div>
    </div>
    <span >
        
    </span>
</nav>
<script>
    const toggleMenu = () =>{
        document.body.classList.toggle("open")
    }
</script> 